* {
    margin: 0;
    padding: unset;
    box-sizing: border-box;
    font-family: 'Roboto', 'san-serif';
    outline: none;
    text-decoration: none;
}

body {
    width: 300px;
    min-height: 450px;
    background-color: #111111;
    overflow-y: hidden;
}

.header {
    margin: auto;
    color: #ffffff;
    background-color: #111111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1;

    .header__logo {
        display: flex;
        flex-direction: row;
        margin: auto 30px;
        cursor: pointer;
        user-select: none;

        img {
            height: 20px;
            margin: auto 6px auto 0;
        }

        h1 {
            font-size: 20px;
            margin: auto 0;
        }
    }

    .close__btn {
        cursor: pointer;
        margin: auto 30px;
        
        svg {
            path {
                transition: fill 0.3s;
            }
        }

        &:hover svg path {
            fill: #ffffff;
        }
    }
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 30px 20px 30px;
}

.action__button,
.action__button--secondary {
    cursor: pointer;
    width: 115px;
    height: 35px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    user-select: none;
    background-color: #2F80ED;
    font-size: 12px;
    font-weight: 500;
    transition: background-color 0.2s;

    &:hover {
        background-color: #0560d8;
    }
}

.action__button--secondary {
    background-color: #232425;
    transition: background-color 0.2s;

    &:hover {
        background-color: #2c2e30;
    }
}

.signin__container {
    display: flex;
    flex-direction: column;
    margin: auto 30px;
}

.signin__button {
    width: 240px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    position: relative;
    margin: 20px auto;

    &:hover {
        background-color: #ddd;
    }

    svg {
        margin: auto 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    p {
        color: #444;
        margin: auto;
    }
}

.searchbar {
    height: 35px;
    padding: 10px;
    border: 1px solid #2c2e30;
    width: 80%;
    border-radius: 4px;
    margin: 10px 30px 20px 30px;
    background-color: #232425;
    color: #ffffff;
    display: none;

    &:focus {
        border: 1px solid #707070;
    }
}

.navbar {
    display: flex;
    flex-direction: column;

    .navbar__links {
        margin: auto 30px;
        display: flex;
        flex-direction: row;

        .navbar__link {
            margin: 10px 20px 0 0;
            background: transparent;
            color: #696969;
            text-transform: uppercase;
            font-size: 10px;
            border: 0;
            cursor: pointer;
            padding: 0 0 8px 0;
            transition: color 0.2s;

            &:hover {
                color: #ffffff;
            }
        }

        .active__link {
            color: #ffffff;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 60%;
                bottom: 0;
                right: 50%;
                transform: translateX(50%);
                height: 1px;
                background-color: #ffffff;
            }
        }
    }

    .line {
        height: 1px;
        background-color: #232425;
    }
}

@keyframes animateIn {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
}

.box-out {
    transform: translateX(-200px);
    transition: 0.2s;
    opacity: 0;
}

.sites-list {
    display: flex;
    flex-direction: column;
    margin: 10px 30px;

    .site {
        display: flex;
        flex-direction: column;
        background-color: #232425;
        position: relative;
        border-radius: 8px;
        margin: 7px 0;
        animation: animateIn 0.4s;

        .site-title {
            color: #ffffff;
            font-size: 14px;
            margin: 16px 32px 16px 16px;
            cursor: pointer;
            width: fit-content;

            &:hover {
                text-decoration: underline;
            }
        }

        .expand-box {
            cursor: pointer;
            position: absolute;
            right: 16px;
            top: 16px;
            background: none;
            border: none;
            transition: 0.2s;

            &:hover {
                svg path {
                    stroke: #ffffff;
                }
            }
        }

        .rotate {
            transform: rotate(180deg);
        }

        .site-desc {
            color: #cccccc;
            font-size: 12px;
            margin: 0 16px 16px 16px;
        }

        .site-img {
            margin: 0 16px 16px 16px;
            max-width: 240px;
            height: auto;
            border-radius: 2px;
            display: none;
        }

        .full-view {
            display: flex;
        }

        .site-remove {
            cursor: pointer;
            text-transform: capitalize;
            width: 60px;
            height: 20px;
            font-size: 10px;
            font-weight: 500;
            color: #ffffff;
            border: none;
            border-radius: 2px;
            background-color: #313233;
            margin: 0 0 16px 16px;
            transition: background-color 0.2s;

            &:hover {
                background-color: #3b3c3d;
            }
        }
    }
}